@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Dancing+Script:wght@400;500;600;700&display=swap');

/*-------------------- General ------------------*/

.container-fluid {
    padding: 0;
    margin: 0;

}

body {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}    


section {
    overflow: hidden;
}
.backgroundimage {
    background-image: url("../images/cononley.jpeg");
    height: 1400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
  
    animation-name: background-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


.opaque-overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;

background-color: rgba(255, 255, 255, 0.6);
}


@keyframes background-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/*-------------------- Header ------------------*/

header {
  background-color:  #74C4A0;
}


.logo {
    color: #646464;
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    height: 100px;
    text-align: left;
    margin-left: 30px;   
}

.logosmall {
    color: #646464;
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
    height: 100px;
    margin-left: 10px;
    padding-top: 15px;
}

.logosmalldiv {
    text-align: center;
}

.logo:hover {
     color: #646464;
     text-decoration: none;
     
}

.logosmall:hover {
     color: #646464;
     text-decoration: none;
     
}

.menu {
    font-family: 'Dancing Script', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    height: 90px;
    word-spacing: 4px;
    padding-right: 10px;
    padding-top: 15px;
}


.menusmall {
   background-color:  #74C4A0 !important;
   float: right;
}

.menu li {
    display: inline;
}

.menu li a{
    color: 	#646464;
    
}

.menu li a:hover {
    text-decoration: none; 
    border-bottom: 1px solid #646464;

}

.currentpage {
   font-weight: bold;
   border-bottom: 1px solid #646464;
}


/*-------------------- Home Section ------------------*/


.video {
    padding-top: 130px;
    text-align: center;
    clear:both;
    padding-bottom: 50px; 
}


.reviewdiv {
  
    align-content: center;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    opacity: 90%;
    margin: 100px auto 0 auto;
   
} 




.review1, .review2, .review3 {
    display: inline-block;
}
 

.align-center {
    text-align: center;
    margin: auto;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}


.hash-list > div {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}

.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
    padding-top: 20px;
}


.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
   
    font-weight: 700 !important;
    font-size: 60px;
    color: #646464;
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
}

.font-cond-l {
    color: #646464;
}

.font-cond {
    color: #646464;
}



.buttonrow {  
    margin-top: 100px;
    margin-bottom: 10px; 
    clear: both;
}  


.btnsize {
    height: 60px;
    width: 200px;
    font-size: 33px;
    
    
}

.btncol {
    background-color:  #74C4A0;
    border: #74C4A0;
}

/*-------------------- Bookings Section ------------------*/



.heading {
font-family: 'Dancing Script', sans-serif;
font-size: 40px;
text-align: center;
color: #494949;

}

.accessories {
 text-align: center;
 list-style-type: none;
 
}

.inspirationdiv {
    margin-top: 150px;
}

.bike-bold {
    color: red;
    font-weight: bold;
}

.inspirationdiv, .accessoriesdiv, .bookingdiv {
padding-top: 20px;
clear: both;

color: #494949;
text-align: center;
width: 100%;
} 

.divbackground {
    background-color: white;
    border-radius: 18px;
    opacity: 0.8;
}

.bookingdiv {
    margin-bottom: 100px;
}

.bookingsform input{
    width: 60%;
}

/*-------------------- Contact Section ------------------*/

.faqdiv, .contactdiv {
 
    margin-bottom: 100px;
  text-align: center;


} 

 .faqdiv {
 margin-top: 200px;
}

.contactdiv {
margin-top: 100px;
    
} 

.contactdiv form input{
    width: 80%;
  
}

#submitbutton {
    width: 20%;
}

.faqdiv li {
    list-style-type: none;
    padding: 5px;
}

.question {
    font-weight: bold;
}

.answer {
    font-style: italic;
}

/*-------------------- Footer ------------------*/



footer {
   
    margin-left: 0;
    padding-left: 15px;  
    margin-right: 15px;  
    min-height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.address {
    background-color: #464545;
    padding-left: 20px;
}
.addressline {
    color: rgb(206, 206, 206);
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lato';
}

.contacthover:hover {
       color: black;
       text-decoration: none;
}

.contact {
    background-color: #646464;
    padding-left: 20px;
}

.contactinfo {
    color: rgb(206, 206, 206);
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 5px;
    font-family: 'Lato';
}

.socialmedia {
    background-color: #999999;
    margin-bottom: 0;
    
}

.socialmediaicon {
    display: inline-block;
    font-size: 25px;
    padding-right: 50px; 
    padding-top: 20px;
    color: rgb(206, 206, 206);

}

.smiconleft {
    padding-left: 50px;
}

/*-------------------- Responsive Design Media Queries  ------------------*/




@media (max-width: 1200px){
    .headerdiv {
        height: 300px;
    }
    .menudiv {
        text-align: center;
    }
    .menu {
        float: none;
        text-align: center;
    }
    .logodiv {
        text-align: center;
    }
}    


@media (max-width: 768px){

    .accessoriesdiv, .bookingdiv {
        width: 100%;  
        margin-left: 0;
        margin-bottom: 20px;
         }
    .inspirationdiv {
        width: 100%;  
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 80px;
        }
    .accessoriesdiv p {
        padding: 0 1px;
        }
    .faqdiv li{
        padding-right: 30px;
        margin-left: 0px;
        padding-left: 0px;
        }
    .faqdiv {
        margin-top: 120px;
        }
    .reviewdiv {
        width: 95%;
        padding: 10px 0 10px 0;
    }    

    .hash-list > div {
    border-right: none;
    
    }

    .buttonrow {
    margin-top: 50px;
    }

    .btnsize {
   padding-top: 0px;

}
}



@media (max-width: 684px){
 .reviewdiv{
     height: 450px;
 }

}

@media (max-width: 664px){
 .video iframe{
    width: 100%;
 }
}

@media (max-width: 516px){
 .reviewdiv{
     padding-top: 10px;
     height: 490px;
 }
}


