@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Dancing+Script:wght@400;500;600;700&display=swap');

/*-------------------- Header ------------------*/

header {
  background-color:  #74C4A0;
  
   height: 100px;
}

.headerdiv {

}

.logo {
    color: #646464;
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    padding-bottom: 5px;
    height: 100px;
    text-align: left;
    margin-left: 20px;
}

.logosmall {
    color: #646464;
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    padding-bottom: 5px;
    height: 100px;
    text-align: left;
}


.logo:hover {
     color: #646464;
     text-decoration: none;
}

.menu {
    font-family: 'Dancing Script', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    height: 90px;
    word-spacing: 5px;
    padding-right: none;
    padding-top: 20px;
}


.menu li {
    display: inline;
}

.menu li a{
    color: 	#646464;
    
}

.menu li a:hover {
    text-decoration: none; 
    border-bottom: 1px solid #646464;

}

.currentpage {
   font-weight: bold;
   border-bottom: 1px solid #646464;
}


/*-------------------- Home Section ------------------*/

section {
    overflow: hidden;
}
.backgroundimage {
    background-image: url("../images/cononley.jpeg");
    height: 1400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    /* below taken from Code Institute Tutorial */
    animation-name: background-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

   
   /* end of cited code */
}

/* code from whiskey drop tutorial */ 
.opaque-overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;

background-color: rgba(255, 255, 255, 0.6);
}
/* end of whiskey drop tutorial code */

@keyframes background-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.video {
    padding-top: 100px;
    text-align: center;
    clear:both;
   
}


.reviewdiv {
    margin-top: 100px;
    align-content: center;
    clear: both;
    height: 400px;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    opacity: 90%;
    margin-left: 100px;
}


/* .signupbutton {
    margin-top: 100px; 
    font-size: 300px;
    clear: both; 
     padding: 0 450px;  
}
*/

.buttonrow {  
    margin-top: 100px;
    margin-bottom: 10px; 
    clear: both;
}  



/* code borrowed from  https://www.bootdey.com/snippets/view/Customer-Reviews#css */

body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}

.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    padding-top: 20px;
    font-weight: 700 !important;
    font-size: 60px;
    color: #646464;
    font-family: 'Dancing Script', sans-serif;
}

.font-cond-l {
    color: #646464;
}

.font-cond {
    color: #646464;
}
/*end of borrowed code */



/*-------------------- Bookings Section ------------------*/



.heading {
font-family: 'Dancing Script', sans-serif;
font-size: 40px;
text-align: center;
color: #494949;

}

.accessories {
 text-align: center;
 list-style-type: none;
 
}

.inspirationdiv {
    margin-top: 100px;
}

.bike-bold {
    color: red;
    font-weight: bold;
}

.inspirationdiv, .accessoriesdiv, .bookingdiv {
padding-top: 20px;
clear: both;
/* padding-left: 100px;
padding-right: 100px;
margin-bottom: 20px; */
color: #494949;
text-align: center;
width: 100%;
} 

.divbackground {
    background-color: white;
    border-radius: 18px;
    opacity: 0.8;
}

.bookingdiv {
    margin-bottom: 100px;
}

.bookingsform input{
    width: 60%;
}

/*-------------------- Contact Section ------------------*/

.faqdiv, .contactdiv {
  /* margin-left: 300px; */
    margin-bottom: 100px;
  text-align: center;


} 

 .faqdiv {
 margin-top: 150px;
}

.contactdiv {
margin-top: 100px;
    
} 

.contactdiv form input{
    width: 80%;
  
}

#submitbutton {
    width: 20%;
}

.faqdiv li {
    list-style-type: none;
    padding: 5px;
}

.question {
    font-weight: bold;
}

.answer {
    font-style: italic;
}

/*-------------------- Footer ------------------*/



footer {
    margin-left: 0;
    padding-left: 15px;  /* why does this make the right hand side have a margin? */
    margin-right: 15px; 
    height: 100px;
    margin-bottom: -1px;
}

.address {
    background-color: #464545;
    padding-left: 20px;
}
.addressline {
    color: rgb(206, 206, 206);
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lato';
}

.contacthover:hover {
       color: black;
       text-decoration: none;
}

.contact {
    background-color: #646464;
    padding-left: 20px;
}

.contactinfo {
    color: rgb(206, 206, 206);
    font-size: 15px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 5px;
    font-family: 'Lato';
}

.socialmedia {
    background-color: #999999;
    margin-bottom: 0;
}

.socialmediaicon {
    display: inline-block;
    font-size: 25px;
    padding-left: 45px;
    padding-top: 20px;
    color: rgb(206, 206, 206);

}

/*-------------------- Responsive Design Media Queries ------------------*/

@media screen and (max-width: 1200px){
    header {
        height: 200px;
        padding-left: none;
    }
    
    .menu {
        display: block;
        clear: both;
        width: 100%;
        font-size: 25px;
        text-align: left;
        float: left;
        
    }
    .logosmall {
        display: block;
        clear: both;
        width: 100%;
        text-align: left;
        float: left;
        
    }
    
}


@media screen and (max-width: 656px){
iframe  {
    width: 100%;
}
}

@media screen and (max-width: 1036px){
    .review3 {
        display: none;
    }
}